.input-style {
  padding: 10px 17px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  width: 295px;
  max-width: 100%;
  border: 1px solid black;


  &:placeholder {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
  }
}