.menu {
  position: fixed;
  z-index: 999;
  background-color: $btn-color;
  width: 290px;
  padding-top: 90px;
  min-height: 100vh;

  &__item {
    width: 100%;

    &--active {
      .submenu {
        width: 100%;
        display: block;

        &__link {
          padding: 19px 0 19px;
          text-align: center;
          width: 100%;
          font-size: 18px;
        }
      }

      .menu__link {
        border-left: 7px solid white;
        background-color: rgba(240, 244, 242, 0.3);
      }
    }
  }

  &__link {
    display: block;
    color: white;
    padding: 19px 0 19px;
    width: 100%;
    transition: .3s;
    text-align: center;

    &:hover {
      border-left: 7px solid white;
      background-color: rgba(240, 244, 242, 0.3);
    }

    &--dropdown {
      background-image: url('../images/arrow-down.svg');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 240px;
    }
  }
}

.submenu {
  width: 0px;
  transition: .5s;
  font-size: 0px;

  &__link {
    display: block;
    color: white;
    padding: 0px;
    width: 0px;
    transition: .7s;

    &--active {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}