.search-result {
  height: 100%;
  overflow-y: auto;

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 0 10px;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    span {
      max-width: 160px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__img-inner {
    max-width: 140px;
    max-height: 64px;
    min-width: 100px;
  }

  &__img {
    object-fit: cover;
  }
}