.car-card {
  width: 100%;
  padding: 42px 36px 16px 25px;
  min-height: calc(100vh - 64px);

  &__top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }

  &__title-link {
    color: black;

    &:hover {
      color: $btn-color;
    }
  }

  &__back {
    font-size: 13px;
    color: #828282;
    align-items: center;

    & span {
      padding: 0 5px;
    }
  }

  &__inner {
    justify-content: space-between;
  }

  &__spare-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 240px);
  }

  &__list-inner {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    padding: 22px 15px;
  }

  &__list-title {
    margin-bottom: 14px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
  }

  &__item {
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    &:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  &__item-name {
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
  }

  &__item-number {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__item-version {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__item-amount {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__item-link {
    color: #2F80ED;
    font-size: 13px;
    text-align: center;
  }
}