.my-cto {
  height: calc(100vh - 64px);
  padding: 40px 55px;

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__inner {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    padding: 26px;
    min-height: 240px;
    min-width: 340px;

    &--map {
      display: flex;
      margin-right: 56px;
    }
  }

  &__text {
    margin-right: 26px;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__row {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 6px;
    display: block;
  }

  &__inn--number,
  &__kpp--number,
  &__address--name,
  &__tel--number,
  &__mail--address,
  &__bank-name,
  &__wallet--number,
  &__bik--number {
    padding: 0 6px;
  }

  &__map {
    width: 360px;
    height: 180px;
  }

  &__btn {
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #F0F4F2;
    background-color: $btn-color;
    padding: 10px 32px;
    border-radius: 5px;
    border-color: transparent;
    margin-bottom: 30px;

    &:hover {
      background-color: transparent;
      color: $btn-color;
      border-color: $btn-color;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 14px;
  }
}