.search-list {
  width: 100%;
  padding: 43px 55px 41px;
  min-height: calc(100vh - 64px);

  &__title {
    margin-bottom: 38px;
  }

  &__inner {
    max-width: 864px;
    margin-bottom: 65px;
  }

  &__input {
    padding: 8px 23px 7px;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    border-radius: 5px 0 0 5px;
  }

  &__search-btn {
    padding: 8px 46px 7px;
    border-radius: 0 5px 5px 0;
    background-color: $btn-color;
    color: $bg-gray;
    border-color: transparent;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: black;
      border-color: $btn-color;
    }
  }
}